


<form>
  <input type="text" id="name" placeholder="name">
  <input type="text" id="location" placeholder="location">
  <input type="text" id="description" placeholder="description">
  <input type="text" id="image" placeholder="image">
  <input type="button" id="Submit" value="Submit">
</form>


<script type="text/javascript" src="/javascript/restaurants_edit.js">

</script>
