<% if logged_in? %>
<input type="button" id="add_restaurant" value="Add a new restaurant">
<% end %>

<div id="restaurants"></div>

<script type="text/javascript" src="/javascript/restaurants_index.js"></script>
