<h1> Add a Restaurant </h1>

<form action="/restaurants" method="post">
  <input type="text" name="name" placeholder="name">
  <input type="text" name="description" placeholder="description">
  <input type="text" name="imageurl" placeholder="imageurl">
  <input type="text" name="location"  placeholder="location">
  <input type="submit" value="Add Your Restaurant">
</form>
