Hello!

This is your restaurant:

<div id="single-restaurant">

</div>


<div id="single-restaurant-reviews">
  <div id="reviews-heading">
  </div>
  <div id="form-page">
  </div>
</div>

<input type="button" id="Edit" value="Edit">
<input type="button" id="Delete" value="Delete">

<input type="button" id="Back" value="Back To Restaurants">



<script type="text/javascript" src="/javascript/restaurants_show.js">

</script>
