Hello!

This is your restaurant:

<div id="single-restaurant">

</div>


<div id="single-restaurant-reviews">
  <div id="reviews-heading">
  </div>
  <% if logged_in? %>
  <div id="form-page">
  </div>
  <% end %>
</div>


<script type="text/javascript" src="/javascript/restaurants_show.js">

</script>
